// $f-base: 24px;
body{
  background: url(./bg.jpg) 50% top no-repeat;
  position: relative;
  background-size: cover;
  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
  }
}


.App-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

